[submodule "S3_DeformFDM"]
	path = S3_DeformFDM
	url = https://github.com/zhangty019/S3_DeformFDM.git
[submodule "S4_Slicer"]
	path = S4_Slicer
	url = https://github.com/tobyegg/S4_Slicer
[submodule "Binary-stl-to-ascii-stl"]
	path = Binary-stl-to-ascii-stl
	url = https://github.com/vancha/Binary-stl-to-ascii-stl
