<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="Merged"/>
  <metadata type="object" key="extruder" value="2"/>
  <volume firstid="0" lastid="1457">
   <metadata type="volume" key="name" value="Minions_1"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -303.70985913276672 0 3 0 161.35105419158936 0 0 3 -67.725004386443331 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="29.372452735900879"/>
   <metadata type="volume" key="source_offset_y" value="181.65250396728516"/>
   <metadata type="volume" key="source_offset_z" value="8.3269994258880615"/>
   <metadata type="volume" key="extruder" value="4"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="1458" lastid="2021">
   <metadata type="volume" key="name" value="Minions_2"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -303.70985913276672 0 3 0 52.144206047058105 0 0 3 68.922672021847532 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="1"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="29.372452735900879"/>
   <metadata type="volume" key="source_offset_y" value="169.51840972900391"/>
   <metadata type="volume" key="source_offset_z" value="23.510074615478516"/>
   <metadata type="volume" key="extruder" value="1"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="2022" lastid="2497">
   <metadata type="volume" key="name" value="Minions_3"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -303.70985913276672 0 3 0 163.17796611785889 0 0 3 9.7425165061767558 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="2"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="29.372452735900879"/>
   <metadata type="volume" key="source_offset_y" value="181.85549926757812"/>
   <metadata type="volume" key="source_offset_z" value="16.934501647949219"/>
   <metadata type="volume" key="extruder" value="2"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="2498" lastid="3071">
   <metadata type="volume" key="name" value="Minions_4"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -376.87729096412659 0 3 0 165.21194744110107 0 0 3 -56.943502556819155 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="3"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="21.242738723754883"/>
   <metadata type="volume" key="source_offset_y" value="182.08149719238281"/>
   <metadata type="volume" key="source_offset_z" value="9.5249440670013428"/>
   <metadata type="volume" key="extruder" value="2"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="3072" lastid="3499">
   <metadata type="volume" key="name" value="Minions_5"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -393.24183869361877 0 3 0 161.79192638397217 0 0 3 -119.81413410947877 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="4"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="19.424455642700195"/>
   <metadata type="volume" key="source_offset_y" value="181.70149993896484"/>
   <metadata type="volume" key="source_offset_z" value="2.539318092358398"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="3500" lastid="3611">
   <metadata type="volume" key="name" value="Minions_6"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -338.74182343482971 0 3 0 39.806582450866699 0 0 3 68.912991750698851 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="5"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="25.480012893676758"/>
   <metadata type="volume" key="source_offset_y" value="168.14756774902344"/>
   <metadata type="volume" key="source_offset_z" value="23.508998870849609"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="3612" lastid="5827">
   <metadata type="volume" key="name" value="Minions_7"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -303.70532727241516 0 3 0 148.8140287399292 0 0 3 68.92198537633972 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="6"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="29.372956275939941"/>
   <metadata type="volume" key="source_offset_y" value="180.25950622558594"/>
   <metadata type="volume" key="source_offset_z" value="23.509998321533203"/>
   <metadata type="volume" key="extruder" value="5"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="5828" lastid="5911">
   <metadata type="volume" key="name" value="Minions_8"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -303.70999360084534 0 3 0 79.910662651062012 0 0 3 -6.9940896148864766 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="7"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="29.372438430786133"/>
   <metadata type="volume" key="source_offset_y" value="172.60357666015625"/>
   <metadata type="volume" key="source_offset_z" value="15.074878692626953"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="5912" lastid="6357">
   <metadata type="volume" key="name" value="Minions_9"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -214.66828179359436 0 3 0 161.79192638397217 0 0 3 -119.82364411804809 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="8"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="39.265960693359375"/>
   <metadata type="volume" key="source_offset_y" value="181.70149993896484"/>
   <metadata type="volume" key="source_offset_z" value="2.5382614317871095"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="6358" lastid="6467">
   <metadata type="volume" key="name" value="Minions_10"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -268.66237378120422 0 3 0 40.03315258026123 0 0 3 68.912991750698851 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="9"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="33.266617774963379"/>
   <metadata type="volume" key="source_offset_y" value="168.17273712158203"/>
   <metadata type="volume" key="source_offset_z" value="23.508998870849609"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="6468" lastid="6941">
   <metadata type="volume" key="name" value="Minions_11"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -303.70985913276672 0 3 0 163.22289562225342 0 0 3 111.73499916837768 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="10"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="29.372452735900879"/>
   <metadata type="volume" key="source_offset_y" value="181.86049652099609"/>
   <metadata type="volume" key="source_offset_z" value="28.266999244689941"/>
   <metadata type="volume" key="extruder" value="2"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="6942" lastid="7309">
   <metadata type="volume" key="name" value="Minions_12"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -303.70985913276672 0 3 0 150.30791759490967 0 0 3 -133.55548997280886 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="11"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="29.372452735900879"/>
   <metadata type="volume" key="source_offset_y" value="180.42549896240234"/>
   <metadata type="volume" key="source_offset_z" value="1.0125007814697256"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="7310" lastid="7843">
   <metadata type="volume" key="name" value="Minions_13"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="3 0 0 -231.20909142494202 0 3 0 164.99483013153076 0 0 3 -56.943502556819155 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="Minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="12"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="37.428092956542969"/>
   <metadata type="volume" key="source_offset_y" value="182.057373046875"/>
   <metadata type="volume" key="source_offset_z" value="9.5249440670013428"/>
   <metadata type="volume" key="extruder" value="2"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
  <volume firstid="7844" lastid="8005">
   <metadata type="volume" key="name" value="png-clipart-minions-logo-graphics-despicable-me-comic-earthquake-signs-emblem-logo-thumbnail"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="0.050625000000000003 0 0 -0.14372188614953529 0 1.1241008124329817e-17 -0.050625000000000482 -53.772031245617782 0 0.050625000000000003 1.1241008124329711e-17 -36.985044470112356 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="minions.3mf"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="13"/>
   <metadata type="volume" key="source_offset_x" value="-0.071860909461975098"/>
   <metadata type="volume" key="source_offset_y" value="-26.923604965209961"/>
   <metadata type="volume" key="source_offset_z" value="-18.492522239685059"/>
   <metadata type="volume" key="extruder" value="3"/>
   <mesh edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
  </volume>
 </object>
</config>
